/* src/index.css - Global CSS Reset */

*,
*::before,
*::after {
    box-sizing: border-box;
    /* Genişlik ve yükseklik hesaplamalarını düzene sokar */
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
    /* Berber temamıza uygun siyah arka plan */
    overflow-x: hidden;
    /* Yana doğru kaymayı (scroll) engeller */
}